body > header, body > main, body > footer {
    padding: 25px;
}

section.container {
    min-height: calc(100wh - 90px);
}

header{
    background-color: #18162c;
    text-align: left;
    color: cornsilk;
    width: 100%;
    height: 100%;
    
}

footer {
    background-color: #18162c;
    text-align: center;
    color: #20aab9;
    width: 100%;
    height: 100%;
}


.select_2 {
width: 50%; 
}

.ingreso_cantidad {
    size: 25px;
}

.h1_movimientos {
    text-align: center;
    font-family: "FontAwesome"; 
}

.nav_bottom {
    background-color: #0e7290;
    padding-top: 25px;
    padding-right: 500px;

}

.letra_header {
    color: #20aab9;
    font-size: 2em; /* 40px/16=2.5em */
    
}

