{% extends 'index.html' %}

{% block title %}  MOVIMIENTOS {% endblock %}

{% block Nav %} 
<table>
        <tr>
                <th> <a href=""><button>INICIO</button></a></th>
                <th> <a href="/purchase"> <button>COMPRA</button></a></th>
                <th><a href="/status">  <button>STATUS</button> </a></th>
        </tr>
</table>
{% endblock %}


{% block content %}
        {% if datos|length > 0 %}
        <h2 class ="h1_movimientos"> MOVIMIENTOS</h2>
                                <table>
                                <tr>
                                        <th class="FECHA">Fecha</th>
                                        <th class="HORA">Hora</th>
                                        <th class="FROM">From</th>
                                        <th class = 'Q'> Q </th>
                                        <th class = 'TO'> TO </th>
                                        <th class = 'Q'> Q </th>
                                        <th class = 'P.U'> P.U</th>
                                </tr> 
                        {% for ingresos in datos %}
                                <tr>
                                        <td>{{ ingresos [0] }}</td>
                                        <td>{{ ingresos [1] }}</td>
                                        <td>{{ ingresos[2] }}</td>
                                        <td>{{ ingresos[3] }}</td>
                                        <td>{{ ingresos[4] }}</td>
                                        <td>{{ ingresos [5] }}</td>
                                        <td>{{ ingresos [6] }}</td>
                                        <td>{{ ingresos [7] }}</td>
                                        
                                </tr>
                        {% endfor %}
                                </table>
        {% else %}
        <p>SIN MOVIMIENTOS</p>
        {% endif %}
{% endblock %}