{% extends 'index.html' %}

{% block title %}  MOVIMIENTOS {% endblock %}

{% block Nav %} 
<table>
        <tr>
                <th> <a href=""><button>INICIO</button></a></th>
                <th> <a href="/purchase"> <button>COMPRA</button></a></th>
                <th><a href="/status">  <button>STATUS</button> </a></th>
        </tr>
</table>
{% endblock %}


{% block content %}
        {% if datos|length > 0 %}
        <h2 class ="h1_movimientos"> MOVIMIENTOS</h2>
                                <table>
                                <tr>
                                        <th class="FECHA">Fecha</th>
                                        <th class="HORA">Hora</th>
                                        <th class="FROM">From</th>
                                        <th class = 'Q'> Q </th>
                                        <th class = 'TO'> TO </th>
                                        <th class = 'Q'> Q </th>
                                        <th class = 'P.U'> P.U</th>
                                </tr> 
                        {% for ingresos in datos %}
                                <tr>
                                        <td>{{ ingresos ['date'] }}</td>
                                        <td>{{ ingresos ['time'] }}</td>
                                        <td>{{ ingresos['from_currency'] }}</td>
                                        <td>{{ ingresos['form_quantity'] }}</td>
                                        <td>{{ ingresos['to_currency'] }}</td>
                                        <td>{{ ingresos ['to_quantity'] }}</td>
                                        <td>{{ ingresos ['precio'] }}</td>
                                </tr>
                        {% endfor %}
                                </table>
        {% else %}
        <p class="sin_movimientos">SIN MOVIMIENTOS, INVIERTE <i class="fa fa-bitcoin fa-2x"></i> <i class="fa fa-ethereum fa-2x"></i> </p>
        
        {% endif %}
{% endblock %}