
{% extends 'index.html' %}

{% block title %}  Compra {% endblock %}

{% block Nav %} 
<table>
        <tr>
                <th> <a href="/"><button>INICIO</button></a></th>
                <th> <a href=""> <button>COMPRA</button></a></th>
                <th><a href="/status">  <button>STATUS</button> </a></th>
        </tr>
</table>
{% endblock %}

{% block content %}
    <div class="title grid">
        <h2 class ="h1_movimientos"> COMPRA </h2>      
    </div>
        <form action="purchase" method="POST">  
            {{ form.hidden_tag()}}
            <table>
                <div> 
                    <tr>
                    <th colspan="3"> INVERTIR </th>
                    </tr>                    
                </div>
                    <div class = "select_2" data-theme="dark"> 
                                <tr>
                                    <td>
                                    {{form.from_currency.label}} 
                                    {{form.from_currency}}
                                    </td>
                                    <td> 
                                    {{form.to_currency.label}} 
                                    {{form.to_currency}}
                                    </td>
                                    <td rowspan="2">
                                        <div class = "calculadora_boton">
                                        <i class="fa fa-calculator fa-2x"></i> 
                                            {{form.calculadora}}
                                        </div>
                                    </td>
                                </tr>
                    </div>                   
                            <div class= cantidad_coin>
                                <tr>
                                    <td  colspan="2">
                                        {{form.from_cantidad( placeholder='Ingresa Monto Moneda a Invertir') }}
                                    </td>
                                </tr>                           
                            </div>
                            <tr>
                                <td colspan="2">
                                    {{form.to_cantidad.label}}
                                    {{form.to_cantidad}}  
                                </td>
                                <td colspan="2">
                                    {{form.precio_unitario.label}}
                                    {{form.precio_unitario}}
                                </td>
                                <td>
                                    {{form.guardar}}
                                </td>
                            </tr>
            </table>
        </form>
{% endblock %}