{% extends 'index.html' %}

{% block title %}  Estado Inversion {% endblock %}
{% block Nav %} 
<table>
        <tr>
                <th> <a href="/"><button>INICIO</button></a></th>
                <th> <a href="/purchase"> <button>COMPRA</button></a></th>
                <th><a href="">  <button>STATUS</button> </a></th>
        </tr>
</table>
{% endblock %}

{% block content %}
        <div class="title grid">
                <h2 class ="h1_movimientos"> STATUS </h2>    
        </div>

        <div class="grid">
                <table>
                        <tr>
                                <th>           
                                {{form.invertido.label}}
                                {{form.invertido(value= valor_invertido)}}
                                </th>
                        </tr>
                        <tr>
                                <th>
                                {{form.valor_actual.label}}
                                {{form.valor_actual(value=valor_actual)}}
                                </th>
                        </tr>
                </table>
        </div>

{% endblock %}