{% extends 'index.html' %}

{% block title %}  Estado Inversion {% endblock %}

{% block Header %} 
        <ul>
            <li><a href="/index">  INICIO </a></li>
            <li><a href="/purchase"> COMPRA </a></li>
            <li><a href="">  STATUS </a></li>
        </ul>
{% endblock %}

{% block content %}
        <div class="title grid">
                <h1 class="title_text">Status</h1>
        </div>

        <div class="grid">
            <!-- Markup example 1: input is inside label -->
            <label for="Invertido">
                Invertido
                <input type="text" id="Invertido" name="Invertido" placeholder="Invertido" required>
            </label>
            <br>
        
            <label for="Valor Actual">
                Valor Actual 
                <input type="text" id="Valor Actual" name="Valor Actual" placeholder="Valor Actual" required>
            </label>
        
        </div>

    
{% endblock %}